<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!-- 
File for .NET 2.0 and newer!


-->	
  <system.web>


    <!--  HTTP RUNTIME SETTINGS
          httpRuntime - element cConfigures ASP.NET HTTP runtime settings. 
          
          maxRequestLength - Attribute indicates the maximum file upload size supported by ASP.NET. 
          This limit can be used to prevent denial of service attacks caused by users posting large files to the server. 
          The size specified is in kilobytes. The default is "4096" (4 MB). Max value is 1048576 (1 GB) for .NET 1.1
	and  2097151 for .NET 2.0+. 

          executionTimeout - Attribute indicates the maximum number of seconds that a request is allowed to 
          execute before being automatically shut down by ASP.NET. 
          The executionTimeout value should always be longer than the amount of time that the upload process can take.
    -->	
	<httpRuntime  maxRequestLength="2097151" executionTimeout="3600" />
	

   

    <compilation defaultLanguage="c#" debug="true"/>

    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off" /> 

    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace
        enabled="false"
        requestLimit="100"
        pageOutput="false"
        traceMode="SortByTime"
		localOnly="false"
    />

    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->

	<!-- If you got error at line below you need to create web-application in folder in IIS settings! -->
    <sessionState 
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
            cookieless="false" 
            timeout="20" 
    />

    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />

   
 </system.web>

<!-- Remove  system.webServer section if .NET 1.1 used-->

<system.webServer>
<validation validateIntegratedModeConfiguration="false" />

<security>
<requestFiltering>
<!-- Max 2 GB file upload limit-->
<requestLimits maxAllowedContentLength="2147483648"/> 
</requestFiltering>
</security>

</system.webServer>
</configuration>
